.buy-block__menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 46px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgba(21, 193, 161, 1);
    border: 2px solid rgba(29, 29, 27, 1);
    border-top: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 860px) {
    .buy-block__menu-content {
        top: 73px;
    }
}