.main__title {
    font-size: 64px;
    font-weight: 700;
    width: 607px;
    line-height: 68px;
    margin: 0;
    padding: 0;
    z-index: 2;
    letter-spacing: -.01em;
}

@media screen and (max-width: 1180px) {
    .main__title {
        font-size: 54px;
    }
}

@media screen and (max-width: 1180px) {
    .main__title {
        font-size: 36px;
        line-height: 40px;
        width: fit-content;
    }
}
