.page {
    background: linear-gradient(100deg, rgba(29, 29, 27, .2) 0%, rgba(29, 29, 27, 1) 59.08%), 
                linear-gradient(180deg, rgba(29, 29, 27, .2) 0%, rgba(29, 29, 27, 1) 100%), 
                linear-gradient(100deg, rgba(35, 209, 174, 1) 0%, rgba(1, 50, 35, .2) 59.93%);
    background-repeat: no-repeat;
    min-width: 360px;
    min-height: 1200px;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 640px) {
    .page {
        background: rgba(29, 29, 27, 1);
    }
}

/*
a, p, div, ul, li, img, main {
    border: solid red 1px;
}
*/