.buy-block__mac {
    width: 42px;
    height: 10px;
    padding: 7px 16px;
    border-right: 1px solid rgba(102, 102, 102, 1);
    cursor: pointer;
}

@media screen and (max-width: 860px) {
    .buy-block__mac {
        margin: 13px 0 33px;
    }
}